# this is the file that determins how the github actions run 
name: Python api and front end github action

# the on says when the github action should run
on:
  # the push says that it should run when ever you push to the repository
  push:
    # now the branches tell it only when you push to this brach or other you can list others
    branches:
     - main

# the jobs here tell it what to run the github action as in this case a ubuntu with max 5 parallel runnings of it 
jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    # step is what github action does ones it is set up mostly all of the is to get ready for the last line where we run the pytest to run all of the test that are in the project
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base
    - name: Lint with flake8
      run: |
        conda install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        conda install pytest
        pytest
